[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanErruption"]
	path = VulkanErruption
	url = https://github.com/GrandChris/VulkanErruption.git
[submodule "Coroutine"]
	path = Coroutine
	url = https://github.com/GrandChris/Coroutine.git
